html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.page1 .flagTop,
.page1 .flagBottom {
  background-color: blue;
}

.page2 .flagTop,
.page2 .flagBottom {
  background-color: green;
}

.flagCenter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 30px;
  border: 2px solid currentColor;
  padding: 5px;
}

.flags {
  display: flex;
  width: 100%;
}

.flags > .page {
  flex: 1;
}
